<!doctype html>
<html lang="ru">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
 <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    {{ "style.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include "navbar" %}
            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}
        {% include "footer" %}
        {% include "successModal" %}
        <!-- Script block allowing child pages to inject their own scripts -->

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-54500039-1', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');

        </script>


        {{ "jquery.min.js" | asset_url | script_tag }}
        {{ "bootstrap.min.js" | asset_url | script_tag }}
        {{ "bootstrapValidator.js" | asset_url | script_tag }}
        {{ "ru_RU.js" | asset_url | script_tag }}
        {{ "main.js" | asset_url | script_tag }}
        {% block scripts %}{% endblock %}
    </body>
</html>