{% block content %}
<section class="s-intro">
    <!--section intro-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img src="{{'graphic-t8market_sticker--b.svg' | asset_url }}" alt=""/>
                    </div>
                    <div class="col-md-9">
                        <h1>Биржа издательских услуг</h1>
                        <p class="tagline--b">
                            Все услуги аутсорсеров для подготовки книг к изданию распространению, продвижению и <span class="nobr">склад-логистики</span>
                        </p>
                        <ul class="t8-feature-list t8-feature-list--small">
                            <li>Полный контроль над заказом, удобная приемка результатов</li>
                            <li>За результат отвечает T8 Market</li>
                            <li>Сопровождение всех заказов менеджерами</li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <br/>
                <br/>
                {% include 'form' %}
            </div>
        </div>
    </div>
</section>
<section class="s-features">
    <!--section features-->
    <h2>Виды услуг аутсорсеров на Т8 Market:</h2>
    <div class="s-features__row">
        <div class="s-features__item">
            <img src="{{'icon-t8market_text-work.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Работа с текстом</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_block-work.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Работа с блоком</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_block-prepress.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Пре-пресс блока</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_cover-work.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Работа с обложкой</span>
        </div>

        <div class="s-features__item">
            <img src="{{'icon-t8market_cover-prepress.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Пре-пресс обложки</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_prepress.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Пре-пресс комплекта</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_graphic-work.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Работа с иллюстрациями</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_print.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Печать</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_promotion.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Продвижение</span>
        </div>

        <div class="s-features__item">
            <img src="{{'icon-t8market_delivery.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Распространение</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_logistics.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Склад-логистика</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_investment.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Инвесткомитет</span>
        </div>

        <div class="s-features__item">
            <img src="{{'icon-t8market_legal-services.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Правовые услуги</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_sertification.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Сертификация</span>
        </div>
        <div class="s-features__item">
            <img src="{{'icon-t8market_lead-generation.svg' | asset_url }}" class="s-features__item__icon" alt=""/>
            <span class="s-features__item__label">Лидогенерация</span>
        </div>
    </div>
</section>
<section class="s-advantages s-advantages--b">
    <!--section advantages -->
    <div class="container">
            <h2>Это выгодно. Оптимизируйте расходы.</h2>
        <div class="s-advantages__row">
            <div class=" col-md-offset-2 col-md-4 col-sm-6">
                <div class="s-advantages__item--b">
                <h3>Ваш собственный штат</h3>
                    <img src="{{'graphic-t8market_advantages-1.svg' | asset_url }}" class="s-advantages__img img-responsive" alt=""/>
                </div>
                <h4>Ваши расходы</h4>
                <ul class="s-advantages__list--disadvantage">
                    <li>Дополнительное офисное пространство</li>
                    <li>Налоги</li>
                    <li>Отпуска / болезни сотрудников</li>
                </ul>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="s-advantages__item--b">
                <h3>Аутсорсеры T8 Market</h3>
                    <img src="{{'graphic-t8market_advantages-2.svg' | asset_url }}" class="s-advantages__img img-responsive" alt=""/>
                </div>
                <h4>Ваши расходы</h4>

                <ul class="s-advantages__list--disadvantage--ok">
                    <li>Дополнительное офисное пространство</li>
                    <li>Налоги</li>
                    <li>Отпуска / болезни сотрудников</li>
                </ul>
                <ul class="s-advantages__list">
                    <li>В любое время дня и ночи</li>
                    <li>Неограниченные мощности</li>
                </ul>
            </div>
        </div>

    </div>
</section>
<section class="s-control">
    <!--section control-->
    <h2>Полный контроль</h2>
    
    <div class="row">
        <div class="s-control__feature">
            <img src="{{'graphic-t8-webapp.svg' | asset_url }}" class="s-control__feature__icon" width="175" height="105" alt=""/>
            <p class="s-control__feature__text">
                Вся работа ведется в удобном <br/>веб-приложении
            </p>
        </div>
        <div class="s-control__feature">
            <img src="{{'graphic-t8-control.svg' | asset_url }}" class="s-control__feature__icon" width="175" height="105" alt=""/>
            <p class="s-control__feature__text">
                Вы полностью контролируете процесс заказа и приемку результатов
            </p>
        </div>
    </div>
    <div class="row">
        <div class="s-control__feature">
            <img src="{{'graphic-t8-notifications.svg' | asset_url }}" class="s-control__feature__icon" width="128" height="85" alt=""/>
            <p class="s-control__feature__text">
                Вам приходят уведомления обо всех событиях, связанных с заказом
            </p>
        </div>
        <div class="s-control__feature">
            <img src="{{'graphic-t8-adaptive-design.svg' | asset_url }}" class="s-control__feature__icon" width="194" height="88" alt=""/>
            <p class="s-control__feature__text">
                Mobile-friendly технологии позволяют работать на любых экранах – компьютерах, ноутбуках, планшетах, смартфонах            </p>
        </div>
    </div>
    
</section>
<section class="s-managers">
    <!--section managers-->
    <div class="container">
        <h2>Сопровождение заказов</h2>
        <span class="tagline--b">
            Все заказы, передаваемые Вами сопровождаются менеджерами, которые:
        </span>
        <div class="row">
            <div class="col-md-6">
                <ul class="t8-feature-list">
                    <li>Подбирают исполнителей</li>
                    <li>Ставят задачу перед исполнителем</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="t8-feature-list">
                    <li>Сопровождают выполнение задачи</li>
                    <li>Делают предварительную приемку</li>
                </ul>
            </div>
        </div>


    </div>
</section>
<section class="s-contact" id="register">
    <!--section contact-->
    <h2>Отправить запрос на регистрацию</h2>
    <div class="row">
        <div class="col-md-4">
            <hr class="sticker--b" />
        </div>
        <div class="col-md-4">
            <br/>
            <h4>Издателям</h4>
            Вы можете зарегистрироваться в
            качестве заказчика и начать
            пользоваться услугами Аутсорсеров
            T8 Market.
        </div>
        <div class="col-md-4">
            <br/>
            <h4>Аутсорсерам</h4>
            Тем, кто работает в издательской
            сфере, мы предлагаем
            сотрудничество с T8 Market –
            начните получать заказы прямо
            сейчас.
        </div>
    </div>
    <hr class="feature-divider"/>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
              {% include 'form' %}
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('.t8s-lead-form').bootstrapValidator({
            fields: {
                account: {
                    validators: {
                        notEmpty: {
                            message: 'Пожалуйста выберите тип аккаунта'
                        }
                    }
                }
            }


        });
    });
</script>


{% endblock %}